body {
  background-color: #ecf0f1;
}

.button {
  cursor: pointer;
}

body {
  color: #34495e;
}

.clicked {
  color: #8e44ad;
}

.form,
.greeting {
  display: none;
}

.showing {
  display: block;
}
